Django==4.2 
psycopg2-binary==2.9.6 

pandas
openpyxl
markdown2

# Markdown Editor (Martor)
martor==1.6.22
beautifulsoup4

# Export Report (Word)
python-docx
docxtpl
pillow  # Hỗ trợ hình ảnh trong report

# CKEditor (Nếu muốn dùng thay thế Martor)
django-ckeditor

# Security & Debugging
django-environ  # Quản lý biến môi trường
whitenoise  # Serve static files
gunicorn  # Dùng cho deployment
XlsxWriter>=3.0.0
django-multiselectfield #dùng để multi choice 