{% extends "base_login.html" %}
{% block content %}
<div class="container mt-5" style="max-width: 500px;">
  <h3 class="mb-3">🔒 Enter new password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group mb-3">
      {{ form.new_password1.label_tag }}
      {{ form.new_password1|add_class:"form-control" }}
    </div>
    <div class="form-group mb-3">
      {{ form.new_password2.label_tag }}
      {{ form.new_password2|add_class:"form-control" }}
    </div>
    <button type="submit" class="btn btn-success w-100">Reset password</button>
  </form>
</div>
{% endblock %}
