<html>
  <body style="font-family: sans-serif; background-color: #e6f7ff; padding: 20px;">
 
  <h2>Reminder Email Preview</h2>
  <div style="margin-bottom: 50px; background-color: #e6f7ff; padding: 20px;">
    <p style="font-size: 18px">Hi <strong>{{ pic|upper }}</strong>,</p>
    
    <p style="font-size: 18px; color:red; "><strong>{{ description }}</strong></p>
    
    <!-- <p style="color: red; font-size: 18px "><strong>Update "STATUS", "START_DATE", "END_DATE" FOR EVERY TASK BELOW</strong></p> -->
    
    {% if task_data.pentest %}
      <h3>Pentest Tasks</h3>
      <table border="1" cellpadding="5" cellspacing="0" width="100%" style="border-collapse: collapse;">
        <thead>
          <tr>
            <th style="width: 20%;">Task Link</th>
            <th style="width: 20%;">PIC</th>
            <th style="width: 20%;">Status</th>
            <th style="width: 20%;">Start Date</th>
            <th style="width: 20%;">End Date</th>
          </tr>
        </thead>
        <tbody>
          {% for task in task_data.pentest %}
          <tr>
            <td style="width: 20%;"><a href="{{ server_location }}/pentest/view/{{ task.id }}/">{{ task.name }}</a></td>
            <td style="width: 20%;">{{ task.PIC_ISM }}</td>
            <td style="width: 20%;">{{ task.status }}</td>
            <td style="width: 20%;">{{ task.start_date|default:"N/A" }}</td>
            <td style="width: 20%;">{{ task.end_date|default:"N/A" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    {% endif %}

    {% if task_data.verify %}
      <h3 style="margin-top: 30px;">Verify Tasks</h3>
      <table border="1" cellpadding="5" cellspacing="0" width="100%" style="border-collapse: collapse;">
        <thead>
          <tr>
              <th style="width: 20%;">Task Link</th>
              <th style="width: 20%;">PIC</th>
              <th style="width: 20%;">Status</th>
              <th style="width: 20%;">Start Date</th>
              <th style="width: 20%;">End Date</th>
          </tr>
        </thead>
        <tbody>
          {% for task in task_data.verify %}
            <tr>
              <td><a href="{{ server_location }}/verify/view/{{ task.id }}/">{{ task.name }}</a></td>
              <td>{{ task.PIC_ISM }}</td>
              <td>{{ task.status }}</td>
              <td>{{ task.start_date|default:"N/A" }}</td>
              <td>{{ task.end_date|default:"N/A" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    <hr style="border-top: 1px solid #ccc; margin-top: 40px;">
    <p style="font-size: 12px; color: gray;">This is an automated reminder from AppSecTool.</p>
  </div>

  
  </body>
</html>
